.banner-principal-decorativo
  &-1
    animation: float1 2s ease-in-out infinite alternate
    position: absolute
    top: -5%
    right: 25%
  &-2
    animation: float1 2s ease-in-out infinite alternate
    position: absolute
    top: 35%
    left: 80%
    width: 100px

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  

.banner-principal .tarjeta
  background-position: left 50% !important
.banner-principal__row .banner-principal__img
  width: 400px !important  
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: black !important   
figcaption
  font-weight: normal
 

.banner-interno__fondo    
  background-image: url("../assets/curso/portada/portada.png") !important
.banner-principal
  @media (max-width: $bp-max-md)
    .tarjeta
      background-image: url('../assets/curso/portada/tablet.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
      border-radius: 0px
    &__info
      padding-top: 8% !important 
      padding-right: 5% !important
  @media (max-width: 767px) 
    .tarjeta
      background-image: url('../assets/curso/portada/movil.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
      border-radius: 0px
    &__info
      padding-top: 15% !important 
      padding-right: 5% !important

.barra-avance__boton--regresar span 
    color: white !important

// Intro 
.imageintro
    img
      height: 260px
@media (max-width: $bp-max-md)
  .imageintro
    img
      margin-bottom: 20px
@media (max-width: 767px)
  .imageintro
    img
      margin-bottom: 20px

//Tema 1
.tarjetaf
  background-color: white
  width: 92%
  height: 325px
  margin-top: 25px
  background-repeat: no-repeat
  border-radius: 20px
  transition: transform 0.3s ease
@media (max-width: $bp-max-sm)
  .tarjetaf
    width: 80%
    height: 340px
    
.slyder-a__bullets__item 
  background-color: #B0BCF2
  border-color: #B0BCF2
.slyder-a__bullets__item--active 
  background-color: #56E9CC !important
  border-color: #56E9CC !important
.slyder-a__tipo-b .slyder-a__btn--sigt 
  content: url('../assets/curso/tema1/der.svg')
  transform: rotate(0deg)
  right: 15px
.slyder-a__tipo-b .slyder-a__btn--atrs 
  content: url('../assets/curso/tema1/izq.svg')
  transform: rotate(0deg)
  left: 15px



.subt
  display: flex
  align-items: center
  position: relative
  img
    width: 70px
    z-index: 10
  &::after
    content: ''
    position: absolute
    background-color: #FFD9C5
    width: 35%
    height: 80%
    top: 8px
    left: 50px
    z-index: 1
  h3, img
    z-index: 999  
    position: relative
  @media (max-width: $bp-max-sm)
    &::after
      height: 90%
      width: 450px
      top: 2px
  @media (max-width: 820px)
    &::after
      height: 90%
      width: 450px
      top: 2px
  @media (max-width: $bp-max-xs)
    &::after
      height: 95%
      width: 260px
      top: 0px
.imageslyder
  background-color: #FFF6F1
  height: 500px
  img
    width: 340px
    margin-top: 115px
    margin-left: 50px
@media (max-width: $bp-max-sm)
  .imageslyder
    height: 500px
    img
      width: 340px
      margin-top: 120px
      margin-left: 0px
@media (max-width: 820px)
  .imageslyder
    height: 500px
    img
      width: 340px
      margin-top: 120px
      margin-left: 0px
.slyder1
  background-color: #FFD9C5
  
.slyder1 .tarjeta-btn
  background-color: white
  transition: all 0.3s ease-out
  height: 93% !important
  margin-top: 20px
  .title
    background-color: $color-acento-contenido
    width: fit-content
    padding: 3px 20px
    margin: 0 auto  
.slyder1.slyder-f
  .slyder-f__slyde
    width: 50% !important
    height: 500px
  @media (max-width: $bp-max-md)
    .slyder-f__slyde
      width: 100% !important
  .tarjeta
    img
      width: 90px
      height: 90px
      margin: 0 auto
.circl-arrow .slyder-f__btn i
  font-size: 1.2rem
  background-color: $color-acento-botones
  color: white
  height: 46px
  width: 46px
  padding: 5px
  border-radius: 500px
  display: flex
  justify-content: center
  align-items: center
.row.tipoturista .imagenpeq
    width: 110px
    height: 110px

.row.cadenaturistica .imagenpeq
    width: 110px
    height: 125px

.tarjeta.color-adicional-1
  background-color: $color-adicional-1

.row.tipoturista .fondo
  background-color: #EFF6FA
  padding: 10px
.slyder2 .tarjeta-btn
  background-color: #DDFAF5
  transition: all 0.3s ease-out
  height: 93% !important
  margin-top: 20px  

@media (max-width: $bp-max-md)
  .imagetema1
    img
      margin-bottom: 20px
@media (max-width: 767px)
  .imagetema1
    img
      margin-bottom: 20px

//Tema 2
.row.servicioturistico .fondo
  background-color: #FFF6F1
  padding: 15px
@media (max-width: $bp-max-md)
  .row.servicioturistico .fondo
    padding: 10px
@media (max-width: 767px)
  .row.servicioturistico .fondo
    padding: 10px

.row.caracteristicas .fondo
  background-color: #EFF6FA
  padding: 25px
  height: 245px
@media (max-width: $bp-max-md)
  .row.caracteristicas .fondo
    padding: 10px
    height: auto
    margin-bottom: 10px
@media (max-width: 767px)
  .row.caracteristicas .fondo
    padding: 10px
    height: auto
    margin-bottom: 10px


.acordion__accion__btn--a
  background-color:  $color-acento-botones
  box-shadow: 0px 0px 7px 2px rgba(0,0,0,.3)
  color: white

.acordion .tarjeta.tarjeta--azul.acordion__activo
  background-color: #DFECF5
  h3
    color: black
.acordion .tarjeta.tarjeta--azul
  background-color: $color-acento-contenido
  h3
    color: black
.imagehide
  @media (max-width: $bp-max-md)
    display: none
  @media (max-width: 767px)
    display: none
.imagehidetema1
  @media (max-width: 767px)
    display: none

//Tema 3


.row.mercadoturistico .fondoverde
  background-color: #EEFDFA
  padding: 15px  

.row.cadenaturistica .fondoverde
  background-color: #EEFDFA
  padding: 15px  

.tarjetasfundamentales .cologris
  background-color: #CCD5E3
  border-radius: 20px 0px 0px 20px 
  @media only screen and (min-width: 601px) and (max-width: 1024px)
    border-radius: 20px
  @media only screen and (max-width: 600px)
    border-radius: 20px
.tarjetasfundamentales .coloverde
  background-color: #BBF6EA
  border-radius: 0px 20px 20px 0px
  @media only screen and (min-width: 601px) and (max-width: 1024px)
    border-radius: 20px
  @media only screen and (max-width: 600px)
    border-radius: 20px
.tarjetasfundamentales .cologris1
  background-color: #CCD5E3
  border-radius: 0px
  @media only screen and (min-width: 601px) and (max-width: 1024px)
    border-radius: 20px
  @media only screen and (max-width: 600px)
    border-radius: 20px
.tarjetasfundamentales .coloverde1
  background-color: #BBF6EA
  border-radius: 0px
  @media only screen and (min-width: 601px) and (max-width: 1024px)
    border-radius: 20px
  @media only screen and (max-width: 600px)
    border-radius: 20px

.tarjetasfundamentales .colornaranja1
  background-color: #FFD9C5
  border-radius: 20px 0px 0px 20px 
  @media only screen and (min-width: 601px) and (max-width: 1024px)
    border-radius: 20px
  @media only screen and (max-width: 600px)
    border-radius: 20px
.tarjetasfundamentales .colorverde22
  background-color: #BBF6EA
  border-radius: 0px 20px 20px 0px
  @media only screen and (min-width: 601px) and (max-width: 1024px)
    border-radius: 20px
  @media only screen and (max-width: 600px)
    border-radius: 20px
.tarjetasfundamentales .colornaranja2
  background-color: #FFD9C5
  border-radius: 0px
  @media only screen and (min-width: 601px) and (max-width: 1024px)
    border-radius: 20px
  @media only screen and (max-width: 600px)
    border-radius: 20px
.tarjetasfundamentales .colorverde2
  background-color: #BBF6EA
  border-radius: 0px
  @media only screen and (min-width: 601px) and (max-width: 1024px)
    border-radius: 20px
  @media only screen and (max-width: 600px)
    border-radius: 20px



//Tema 4

.row.tituloperfil
  margin-top: 80px

.bgs
  background-color: #F6F6F6
  border-radius: 20px

.bgi
  background-color: #DDFAF5

.fondo1
  background: url('../assets/curso/intro/fd.png')
  background-size: 100% 90%
  background-repeat: no-repeat
  background-position: center
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem
  @media screen and (max-width: 767px)
    margin-inline: -2.4rem
    margin-right: -2rem
    margin-left: -2rem


.tarjetap
  background-color: #fff
  border-radius: 15px
.slyder-a__btn--sigt, .slyder-a__btn--atrs 
    width: 50px
    height: 50px
    background-color:#FF725D
    border-radius: 50%
.slyder-a__bullets__item 
    background-color: #C4F7ED
    border-color: #C4F7ED
.slyder-a__bullets__item--active 
    background-color: #56E9CC !important
    border-color: #56E9CC!important
@media (max-width: 768px) 
    .slyder-a__bullets__item 
        width: 12px
        height: 12px
        margin: 0px 1px
@media (max-width: 768px)  
  .slyder-a__btn--sigt, .slyder-a__btn--atrs
    width: 45px
    height: 45px
.slyder-a__tipo-b .slyder-a__btn--atrs 
    transform: rotate(180deg)
    left: 15px
    content: url('../assets/curso/tema1/der.png')
.slyder-a__tipo-b .slyder-a__btn--sigt 
    transform: rotate(180deg)
    right: 15px
    content: url('../assets/curso/tema1/izq.png')

.fondo2
  background: url('../assets/curso/tema1/fondo2.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: cover
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem
  @media screen and (max-width: 767px)
    margin-inline: -2.4rem
    margin-right: -2rem
    margin-left: -2rem

.fd2
  background: url('../assets/curso/tema2/fd2.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center 
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem
  @media screen and (max-width: 767px)
    margin-inline: -2.4rem
    margin-right: -2rem
    margin-left: -2rem


.img-t
  width: auto
  height: auto
.img-a
  display: block
  margin: auto

.fa-circle-check
  content: url('../assets/curso/tema2/ico.png')
  width: 14px
  height: 14px


.titulo-sexto 
    margin-bottom: 24px
    border-left: 10px solid
    padding: 5px 0 5px 8px

.titulo-sexto.color-secundario 
    border-left-color: #56E9CC !important

.fondo33
  background: url('../assets/curso/tema3/fdo3.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem
  @media screen and (max-width: 767px)
    margin-inline: -2.4rem
    margin-right: -2rem
    margin-left: -2rem

.fndd
  background: url('../assets/curso/tema1/fndd.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: -20px bottom
  margin-inline: -3.4rem
  margin-right: -4.3rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem
  @media screen and (max-width: 767px)
    margin-inline: -2.4rem
    margin-left: -2rem
    margin-right: -2rem
    background-size:  100% 100%
.tarjeta--slyder.b2
  background-color:#FFFFFF
.fa-chevron-right:before 
    content: url('../assets/curso/tema1/der.png')
.fa-chevron-left:before 
    content: url('../assets/curso/tema1/izq.png')
.bg3
  background-color: #56E9CC


.mva
  margin-bottom: -45px