.banner-principal-decorativo
  &-1
    animation: float1 2s ease-in-out infinite alternate
    position: absolute
    top: -5%
    right: 50%
  &-2
    animation: float1 2s ease-in-out infinite alternate
    position: absolute
    top: 45%
    left: 53%
    width: 100px

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  flex: 0 0 auto !important
  width: 53% !important
  @media screen and (max-width: $bp-max-md)
    width: 95% !important
.banner-principal__img 
  padding-bottom: 0 !important
.banner-principal__row .banner-principal__img 
    width: 47%
figcaption
  font-weight: normal
  
.banner-interno__fondo    
  background-image: url("../assets/curso/portada/portada.png") !important
.banner-principal
  @media (max-width: $bp-max-md)
    .tarjeta
      background-image: url('../assets/curso/portada/tablet.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
      border-radius: 0px
    &__info
      padding-top: 8% !important 
      padding-right: 5% !important
  @media (max-width: 767px) 
    .tarjeta
      background-image: url('../assets/curso/portada/movil.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
      border-radius: 0px
    &__info
      padding-top: 15% !important 
      padding-right: 5% !important

.barra-avance__boton--regresar span 
    color: white !important


    



//Tema 3

 

.tarjetasfundamentales .cologris
  background-color: #CCD5E3
  border-radius: 20px 0px 0px 20px 
  @media only screen and (min-width: 601px) and (max-width: 1024px)
    border-radius: 20px
  @media only screen and (max-width: 600px)
    border-radius: 20px
.tarjetasfundamentales .coloverde
  background-color: #BBF6EA
  border-radius: 0px 20px 20px 0px
  @media only screen and (min-width: 601px) and (max-width: 1024px)
    border-radius: 20px
  @media only screen and (max-width: 600px)
    border-radius: 20px
.tarjetasfundamentales .cologris1
  background-color: #CCD5E3
  border-radius: 0px
  @media only screen and (min-width: 601px) and (max-width: 1024px)
    border-radius: 20px
  @media only screen and (max-width: 600px)
    border-radius: 20px
.tarjetasfundamentales .coloverde1
  background-color: #BBF6EA
  border-radius: 0px
  @media only screen and (min-width: 601px) and (max-width: 1024px)
    border-radius: 20px
  @media only screen and (max-width: 600px)
    border-radius: 20px

.tarjetasfundamentales .colornaranja1
  background-color: #FFD9C5
  border-radius: 20px 0px 0px 20px 
  @media only screen and (min-width: 601px) and (max-width: 1024px)
    border-radius: 20px
  @media only screen and (max-width: 600px)
    border-radius: 20px
.tarjetasfundamentales .colorverde22
  background-color: #BBF6EA
  border-radius: 0px 20px 20px 0px
  @media only screen and (min-width: 601px) and (max-width: 1024px)
    border-radius: 20px
  @media only screen and (max-width: 600px)
    border-radius: 20px
.tarjetasfundamentales .colornaranja2
  background-color: #FFD9C5
  border-radius: 0px
  @media only screen and (min-width: 601px) and (max-width: 1024px)
    border-radius: 20px
  @media only screen and (max-width: 600px)
    border-radius: 20px
.tarjetasfundamentales .colorverde2
  background-color: #BBF6EA
  border-radius: 0px
  @media only screen and (min-width: 601px) and (max-width: 1024px)
    border-radius: 20px
  @media only screen and (max-width: 600px)
    border-radius: 20px



//Tema 4


.bgs
  background-color: #F6F6F6
  border-radius: 20px

.bgi
  background-color: #DDFAF5

.fondo1
  background: url('../assets/curso/intro/fd.png')
  background-size: 100% 90%
  background-repeat: no-repeat
  background-position: center
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem
  @media screen and (max-width: 767px)
    margin-inline: -2.4rem
    margin-right: -2rem
    margin-left: -2rem




.fondo2
  background: url('../assets/curso/tema1/fondo2.png')
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  border-radius: 20px
  overflow: hidden
  transition: transform 0.3s ease
  margin-inline: -3rem
  @media only screen and (max-width: 767px)
    margin-inline: -1.5rem
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    margin-inline: -3rem
.tarjetaf
  background-color: #fff
  border-radius: 15px
.slyder-a__btn--sigt, .slyder-a__btn--atrs 
    width: 50px
    height: 50px
    background-color:#FF725D
    border-radius: 50%
.slyder-a__bullets__item 
    background-color: #C4F7ED
    border-color: #C4F7ED
.slyder-a__bullets__item--active 
    background-color: #56E9CC !important
    border-color: #56E9CC!important
@media (max-width: 768px) 
    .slyder-a__bullets__item 
        width: 12px
        height: 12px
        margin: 0px 1px
@media (max-width: 768px)  
  .slyder-a__btn--sigt, .slyder-a__btn--atrs
    width: 45px
    height: 45px
.slyder-a__tipo-b .slyder-a__btn--atrs 
    transform: rotate(180deg)
    left: 15px
    content: url('../assets/curso/tema1/der.png')
.slyder-a__tipo-b .slyder-a__btn--sigt 
    transform: rotate(180deg)
    right: 15px
    content: url('../assets/curso/tema1/izq.png')


.fd2
  background: url('../assets/curso/tema2/fd2.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center 
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem
  @media screen and (max-width: 767px)
    margin-inline: -2.4rem
    margin-right: -2rem
    margin-left: -2rem


.img-t
  width: auto
  height: auto
.img-a
  display: block
  margin: auto

.fa-circle-check
  content: url('../assets/curso/tema2/ico.png')
  width: 14px
  height: 14px


.titulo-sexto 
    margin-bottom: 24px
    border-left: 10px solid
    padding: 5px 0 5px 8px

.titulo-sexto.color-secundario 
    border-left-color: #56E9CC !important

.fondo33
  background: url('../assets/curso/tema3/fdo3.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem
  @media screen and (max-width: 767px)
    margin-inline: -2.4rem
    margin-right: -2rem
    margin-left: -2rem

.fndd
  background: url('../assets/curso/tema1/fndd.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: -20px bottom
  margin-inline: -3.4rem
  margin-right: -4.3rem
  @media screen and (max-width: 992px)
    background: url('../assets/curso/tema1/fnddt.png')
    background-size: 100% 100%
    background-repeat: no-repeat
    background-position: -20px bottom
    margin-inline: -4.25rem
  @media screen and (max-width: 767px)
    background: url('../assets/curso/tema1/fnddt.png')
    background-size: 100% 100%
    background-repeat: no-repeat
    background-position: -20px bottom
    margin-inline: -2.7rem
.tarjeta--slyder.b2
  background-color:#FFFFFF
  height: 100%
  box-shadow:  0px 0px 10px 5px rgba(0, 0, 0, 0.09)
.fa-chevron-right:before 
    content: url('../assets/curso/tema1/der.png')
.fa-chevron-left:before 
    content: url('../assets/curso/tema1/izq.png')
.bg3
  background-color: #56E9CC
.bru
  .horizontal-scroll__wrapper
    padding: 1rem 0.5rem 
.bru
  .horizontal-scroll
    align-items: stretch !important


.mva
  margin-bottom: -45px


.titulo
  background-color:#FFD9C5
  width: fit-content
  padding: 7.5px
  position: relative 
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 25px 10px 10px 25px
  @media only screen and (max-width: 767px)
    border-radius: 10px
.titulo img
  width: 63px
  position: absolute
  top: -12%
  right: 87%
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    width: 60px
    top: -6%
    right: 88%
  @media only screen and (max-width: 767px)
    display: none


.titulo1
  background-color:#FFD9C5
  width: fit-content
  padding: 7.5px
  position: relative 
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 25px 10px 10px 25px
  @media only screen and (max-width: 767px)
    border-radius: 10px
.titulo1 img
  width: 63px
  position: absolute
  top: -12%
  right: 78%
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    width: 60px
    top: -6%
    right: 78%
  @media only screen and (max-width: 767px)
    display: none


.titulo2
  background-color:#FFD9C5
  width: fit-content
  padding: 7.5px
  position: relative 
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 25px 10px 10px 25px
  @media only screen and (max-width: 767px)
    border-radius: 10px
.titulo2 img
  width: 63px
  position: absolute
  top: -12%
  right: 85%
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    width: 60px
    top: -6%
    right: 85%
  @media only screen and (max-width: 767px)
    display: none






.tarjeta.color-acento-contenido
  background-color: #AFD1E6

.bg1
  background-color: #EFF6FA

.tarjeta-btn
  background-color: #DDFAF5

.bg2
  background-color: #FFF6F1

.acordion__accion__btn--a
  background-color: #965838
  box-shadow: 0px 0px 7px 2px rgba(0,0,0,.3)
.acordion .tarjeta--azul
  background-color: #56E9CC
.acordion .tarjeta.tarjeta--azul.acordion__activo
  background-color: #DFECF5
.acordion__accion__btn--a i, .acordion__accion__btn--b i 
  color: white

.bg4
  background-color: #EEFDFA

.des
  max-width: 100%  
  overflow-wrap: break-word